@charset "UTF-8";
/*-----Colores-----*/
/*-----Spacing-----*/
/*-----Font-family-----*/
/*-----Font-sizing-----*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* -----------------------------------------------------------------GRID----*/
.grid {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto; }
  .grid header {
    grid-area: header; }
  .grid main {
    grid-area: main; }
  .grid footer {
    grid-area: footer; }

/*-------------------------------------------------------GRID------------------*/
body {
  background-color: #181818;
  font-family: "Odibee Sans", cursive;
  font-weight: 400;
  overflow-x: hidden; }

/*----------------------------------------------------------HEADER----------------*/
.header .navbar {
  max-height: 3.5rem;
  box-shadow: 0px 5px 10px black; }

.header .navbar__texto {
  font-size: 1.5rem;
  font-weight: 400;
  color: white;
  text-shadow: 3px 3px 5px #ee3434; }
  .header .navbar__texto:hover {
    text-decoration: underline; }

.header .navbar__texto2 {
  font-size: 1.5rem;
  font-weight: 400;
  color: white;
  text-shadow: 3px 3px 5px #ee3434; }

.header .header__irabajo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  font-size: 1.5rem;
  font-weight: 600; }

.header .portada {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: fixed;
  background-size: cover;
  background-image: url(../img/fondo4.jpeg);
  height: 100vh; }

.header .portada__h1 {
  font-family: 'Coda', cursive;
  text-transform: none;
  color: white;
  font-size: 6rem;
  font-weight: 400;
  text-shadow: 5px 5px 10px black; }

/*--------------------------------------------------------HEADER------------*/
/*--------------------------------------------------------FOOTER------------*/
footer {
  background-color: black;
  color: #ee3434;
  text-decoration: none;
  padding: 1rem;
  font-weight: 600;
  box-shadow: 0px 10px 20px black;
  height: auto;
  background-repeat: repeat;
  background-size: contain;
  background-position: center; }
  footer .footer__titulo {
    color: white;
    font-family: 'Coda', cursive;
    font-size: 2.2rem;
    text-align: center;
    text-shadow: 3px 3px 5px #ee3434;
    font-weight: 500; }
  footer .footer__menu {
    list-style: none;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    padding-left: 0; }
  footer .footer__ul__flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; }
  footer .footer__menu li {
    border: 2px solid rgba(0, 0, 0, 0);
    transition: all 0.5s;
    border-radius: 5px; }
    footer .footer__menu li:hover {
      text-decoration: underline; }
  footer .list-inline-item a i:hover {
    text-decoration: underline; }
  footer .footer__menu a {
    color: white;
    text-decoration: none;
    padding: 0.2rem 0.3rem 0.2rem 0.3rem;
    font-size: 1.7rem;
    font-weight: 400;
    text-shadow: 3px 3px 5px #ee3434; }
  footer .redes {
    color: white;
    display: flex; }
  footer .fa-twitter:before {
    font-size: 2rem;
    color: #0084ff;
    text-shadow: 0px 0px 0px black; }
  footer .fa-facebook:before {
    font-size: 2rem;
    color: #001aff;
    text-shadow: 0px 0px 0px black; }
  footer .fa-instagram:before {
    font-size: 2rem;
    color: #ff2cd8;
    text-shadow: 0px 0px 0px black; }
  footer .fa-youtube:before {
    font-size: 2rem;
    color: red;
    text-shadow: 0px 0px 0px black; }
  footer .footer__irarriba {
    display: flex;
    justify-content: center;
    margin-left: 0.5rem;
    font-size: 1.3rem;
    margin-bottom: 0;
    padding-bottom: 0; }
  footer .footer__creditos {
    text-align: center;
    font-weight: 400;
    color: #ee3434;
    font-size: 1.3rem; }

/*--------------------------------------------------------FOOTER------------*/
/*-------------------------------------------------------PAG INDEX----------*/
/*---------------------------------------------------------CONTENIDO--------*/
.main--index {
  background-color: #181818; }
  .main--index .main__flex--index {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .main--index .contenido__titulo {
    color: white;
    text-align: center;
    margin: 1rem 1rem 1rem 1rem;
    font-weight: 400;
    text-shadow: 3px 3px 5px #ee3434;
    font-size: 2.2rem; }
  .main--index .contenido__texto {
    line-height: 1.2;
    color: white;
    text-shadow: 3px 3px 5px black;
    font-size: 1.7rem;
    margin-top: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    text-align: justify; }
  .main--index .carousel {
    margin-left: 0rem;
    margin-right: 0rem;
    border: 0px black;
    border-radius: 10px;
    box-shadow: 10px 10px 20px black; }
  .main--index .carousel__img--index {
    border-radius: 10px;
    border: 0px black;
    box-sizing: border-box;
    border-style: none; }
  .main--index .carousel__texto {
    color: white;
    font-size: 1.5rem;
    text-shadow: 3px 3px 3px black; }

/*--------------------------------------------------------------CONTENIDO----*/
/*-------------------------------------------------------FIN PAG INDEX----------*/
/*-------------------------------------------------------INICIO PAG CONTACTO-------*/
/*-------------------------------------------------------FORMULARIO (SECTION)*/
.main--contacto {
  background-color: #181818;
  font-size: 1.5rem;
  text-shadow: 3px 3px 3px black; }
  .main--contacto .formulario {
    background-color: #202020;
    box-shadow: 5px 5px 10px black;
    width: 90%;
    max-width: 650px;
    margin: auto;
    padding: 1rem 2rem 1rem 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 5px;
    padding-bottom: 3rem; }
  .main--contacto .formulario .formulario--label {
    display: block;
    position: relative; }
  .main--contacto .formulario--label {
    color: #ee3434; }
  .main--contacto .formulario--titulo {
    text-align: center;
    text-shadow: 3px 3px 3px black;
    color: #ee3434;
    font-size: 2.5rem; }
  .main--contacto .formulario--input {
    background: rgba(0, 0, 0, 0.7);
    border: none;
    outline: none;
    border-bottom: 2px solid #ee3434;
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 2px;
    color: white; }
  .main--contacto .formulario--textarea {
    background: rgba(0, 0, 0, 0.7);
    border: none;
    outline: none;
    border-bottom: 2px solid #ee3434;
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 2px;
    color: white;
    resize: vertical;
    max-height: 150px;
    min-height: 100px; }
  .main--contacto .botonformulario--submit {
    width: 48%;
    outline: none;
    border: none;
    font-size: 1.6rem;
    background: rgba(0, 0, 0, 0.7);
    color: #ee3434;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 0px;
    margin-bottom: 0px;
    cursor: pointer;
    border-radius: 3px;
    float: right; }
  .main--contacto .boton--reset {
    width: 48%;
    outline: none;
    border: none;
    font-size: 1.6rem;
    background: rgba(0, 0, 0, 0.7);
    color: #ee3434;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 0px;
    margin-bottom: 0px;
    cursor: pointer;
    border-radius: 3px;
    float: left; }

/*------------------------------------------------FORMULARIO(SECTION)-------*/
/*-----------------------------------------------------FIN PAG CONTACTO--------*/
/*-------------------------------------------------INICIO PAG TIENDA----------*/
.imgsponsors {
  max-width: 100%; }

.titulosponsors {
  font-size: 2rem;
  color: white;
  text-shadow: 2px 2px 3px #ee3434;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 0rem;
  padding: 0.5rem;
  background-color: black; }

.main__divencabezado--tienda {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem 0rem 1rem 0rem;
  background: black; }

.boton--tienda {
  font-size: 1.5rem;
  color: white;
  text-shadow: 3px 3px 3px black; }

.offcanvas--tienda {
  display: flex;
  justify-content: center; }

.botonoffcanvas--tienda {
  margin-top: 1rem;
  font-size: 1.5rem;
  color: white;
  text-shadow: 3px 3px 3px black;
  box-shadow: 3px 3px 5px black; }

.offcanvastexto--tienda {
  font-size: 1.5rem;
  text-shadow: 3px 3px 3px black; }

.tituloiconoflex--tienda {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center; }

.main__titulo--tienda {
  color: #ee3434;
  text-shadow: 3px 3px 5px #181818;
  font-size: 2.5rem; }

.fa-handshake:before {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-size: 2.5rem;
  color: white;
  text-shadow: 3px 3px 3px rgba(238, 52, 52, 0); }

.fa-bicycle:before {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  color: #ee3434;
  text-shadow: none;
  font-size: 1.5rem; }

.section__bicicletas--tienda {
  margin: 2rem 1rem 0rem 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: black;
  border-radius: 10px;
  box-shadow: 5px 5px 10px black; }

.section__titulo--tienda {
  font-size: 2.2rem;
  text-align: center;
  color: white;
  text-shadow: 3px 3px 3px #ee3434;
  background-color: black; }

.bicicletasflex--tienda {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; }

.cardbicicletas {
  position: relative;
  width: 380px;
  height: 280px;
  max-width: 400px;
  margin: 0.5rem 1rem 0.5rem 1rem; }

.cardface__bicicletas {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: .5s; }

.cardfront {
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 5px 5px 10px black; }

.cardimg__bicicletas {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover; }

.cardtitulofront__bicicletas {
  position: absolute;
  width: 100%;
  height: 45px;
  color: white;
  text-shadow: 3px 3px 3px #ee3434;
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
  bottom: 0;
  line-height: 45px; }

.cardback {
  transform: perspective(600px) rotateY(180deg);
  background: #181818;
  color: white;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 5px 5px 10px black; }

.cardtituloback__bicicletas {
  width: 100%;
  height: 45px;
  color: white;
  text-shadow: 3px 3px 3px #ee3434;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  line-height: 45px; }

.cardlink__bicicletas {
  border-top: solid 1px white;
  height: 30px;
  line-height: 40px;
  font-size: 1.3rem;
  text-align: center; }

.cardli__bicicletas {
  font-size: 1.3rem;
  text-align: center; }

.cardbicicletas:hover .cardfront {
  transform: perspective(600px) rotateY(180deg); }

.cardbicicletas:hover .cardback {
  transform: perspective(600px) rotateY(360deg); }

.pagination--tienda {
  margin-top: 1rem; }

/*-------------------------------------------------INICIO PAG CALENDARIO----------*/
/*-------------------------------------------------INICIO PAG RANKING----------*/
/*-----------------------------------------------------------MEDIA QUERIES------*/
/*Mobile*/
@media only screen and (max-width: 480px) {
  .grid {
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto; }
    .grid #portada__h1 {
      font-size: 3rem; }
    .grid .contenido__titulo {
      font-size: 1rem; }
    .grid .contenido__texto {
      line-height: 1;
      font-size: 1rem; }
    .grid .carousel {
      max-width: auto; }
    .grid section img {
      max-width: auto;
      border-radius: 10px; }
    .grid .aside__titulo {
      padding-top: 0rem;
      font-size: 1.3rem; }
    .grid .aside__li {
      padding: 0rem 0rem 0rem 0rem;
      margin: 0rem 0rem 0rem 0rem; }
    .grid .aside__li li {
      padding: 0rem 0rem 0rem 0rem;
      line-height: 1;
      font-size: 1rem;
      margin: 0.5rem 0rem 0rem 0rem; }
    .grid .footer__ul__flex {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly; }
    .grid .footer__menu a {
      padding: 0.3rem;
      font-size: 0.8rem; }
    .grid .footer__creditos {
      font-size: 0.8rem;
      margin: 0;
      padding: 0; }
  /*--------------Pág Contacto--------------*/
  .aside__ingresar {
    padding-left: 3px; }
  .aside__textoingresar {
    font-size: 1rem;
    margin-left: 0;
    padding-left: 0; }
  .aside__botoningresar {
    font-size: 1rem; }
  /*---------Formulario(Section)-----------*/
  .formulario .formulario--titulo {
    font-size: 1.1rem; }
  .formulario .formulario--label {
    font-size: 1rem; }
  .formulario .boton--reset {
    font-size: 1rem; }
  .formulario .botonformulario--submit {
    font-size: 1rem; }
  .formulario .formulario--input {
    font-size: 1rem; }
  .formulario .formulario--textarea {
    font-size: 1rem; } }

@media only screen and (min-width: 481px) and (max-width: 978px) {
  .grid {
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto; }
    .grid .header__navbar--flex {
      justify-content: space-evenly; }
    .grid .header__navbar a {
      padding: 0rem;
      font-size: 0.9rem;
      margin: 0.2rem; }
    .grid .footer__ul__flex {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly; }
    .grid .footer__menu a {
      padding: 0.3rem;
      font-size: 0.9rem; }
    .grid .footer__creditos {
      font-size: 0.9rem;
      margin: 0;
      padding: 0; }
    .grid .aside__textoingresar {
      font-size: 1.5rem; }
    .grid .aside__flex--ingresar {
      display: flex;
      flex-direction: column;
      align-items: flex-end; } }

@media only screen and (min-width: 979px) and (max-width: 1204px) {
  section img {
    width: auto; } }
