/*-----Colores-----*/
/*-----Spacing-----*/
/*-----Font-family-----*/
/*-----Font-sizing-----*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* -----------------------------------------------------------------GRID----*/
.grid {
  display: grid;
  grid-template-areas: "header header" "aside section" "footer footer";
  grid-template-columns: 20% 80%;
  grid-template-rows: auto auto auto; }
  .grid header {
    grid-area: header; }
  .grid aside {
    grid-area: aside; }
  .grid section {
    grid-area: section; }
  .grid footer {
    grid-area: footer; }

/*--------------------------------------------------------------------GRID---*/
body {
  background-color: black;
  font-family: "Oswald", sans-serif;
  font-weight: 600; }

/*-----------------------------------------------------------------------Header---*/
.header {
  background-color: black;
  background-repeat: repeat;
  background-size: contain;
  background-position: center;
  height: auto; }
  .header .header__h1--flex {
    display: flex;
    justify-content: center; }
  .header .header__h1 {
    font-family: "Oxygen", sans-serif;
    text-decoration: wavy;
    text-transform: none;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-size: 4.5rem;
    font-style: normal;
    font-weight: 800;
    border-radius: 5px;
    text-align: center;
    text-shadow: 5px 5px 5px #ee3434;
    padding-bottom: 2rem; }
  .header .header__irabajo {
    margin-left: 2rem;
    background-color: rgba(0, 0, 0, 0.733);
    box-shadow: 10px 10px 15px black; }
  .header .irabajo {
    margin-top: 0.5rem;
    padding: 0;
    font-size: 1rem; }
  .header .navbar__texto {
    font-size: 1.3rem;
    color: white;
    text-shadow: 3px 3px 3px #ee3434; }
    .header .navbar__texto:hover {
      text-decoration: underline; }
  .header .navbar__texto2 {
    font-size: 1.3rem;
    color: black; }

/*-----------------------------------------------------------------------Header---*/
/*-------------------------------------------------------PAG CONTACTO-------*/
/*-------------------------------------------------------Formulario(Section)*/
.formulario {
  background-color: #202020;
  width: 90%;
  max-width: 650px;
  margin: auto;
  padding: 1rem 2rem 1rem 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 5px;
  padding-bottom: 3rem;
  font-size: 1.2rem; }
  .formulario .formulario .formulario--label {
    display: block;
    position: relative; }
  .formulario .formulario--label {
    color: #ee3434; }
  .formulario .formulario--titulo {
    text-align: center;
    text-shadow: 2px 2px 10px #ee3434;
    color: white;
    font-size: 1.6rem; }
  .formulario .formulario--input {
    background: rgba(0, 0, 0, 0.7);
    border: none;
    outline: none;
    border-bottom: 2px solid #ee3434;
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 2px;
    color: white; }
  .formulario .formulario--textarea {
    background: rgba(0, 0, 0, 0.7);
    border: none;
    outline: none;
    border-bottom: 2px solid #ee3434;
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 2px;
    color: white;
    resize: vertical;
    max-height: 150px;
    min-height: 100px; }
  .formulario .botonformulario--submit {
    width: 48%;
    outline: none;
    border: none;
    font-size: 1rem;
    background: rgba(0, 0, 0, 0.7);
    color: #ee3434;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
    cursor: pointer;
    border-radius: 3px;
    float: right; }
  .formulario .boton--reset {
    width: 48%;
    outline: none;
    border: none;
    font-size: 1rem;
    background: rgba(0, 0, 0, 0.7);
    color: #ee3434;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
    cursor: pointer;
    border-radius: 3px;
    float: left; }

/*-------------------------------------------------------Formulario(Section)*/
/*----------------------------------------------------------Ingresar(Aside)*/
.mb-3 {
  margin-right: 0.5rem;
  font-size: 1.2rem; }

/*----------------------------------------------------Ingresar(Aside)--*/
/*-----------------------------------------------------Fin Pag CONTACTO--------*/
/*-----------------------------------------------------Inicio Main Pag INDEX---*/
/*---------------------------------------------------------Contenido---*/
section {
  line-height: 1.5;
  background-color: #eeeeee;
  padding: 1rem;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  border: none;
  border-radius: 0px; }
  section .contenido__titulo {
    color: black;
    text-align: center;
    margin: 1rem;
    font-weight: 600;
    text-shadow: 4px 4px 4px #ee3434;
    font-size: 2rem; }
  section .contenido__texto {
    color: black;
    font-size: 1.4rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem; }
  section .carousel {
    margin-left: 1rem;
    margin-right: 1rem;
    border: 0px black;
    box-shadow: 10px 10px 20px black; }
  section section img {
    border: 0px black;
    box-sizing: border-box;
    border-style: none; }
  section .carousel__texto {
    font-size: 1.3rem;
    text-shadow: 5px 5px 10px black; }

/*--------------------------------------------------------------Contenido----*/
/*-----------------------------------------------------------------Aside----*/
aside {
  background-color: #ff4646;
  background-position: center;
  background-size: contain;
  line-height: 1.5;
  padding-left: 0.5rem;
  padding-top: 1rem;
  border: inset 4px #838383;
  border-radius: 0px;
  box-sizing: border-box;
  text-align: center;
  color: black;
  box-shadow: 5px 0px 10px black; }
  aside .aside__titulo {
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
    padding-top: 1rem;
    text-shadow: 5px 5px 15px black;
    font-weight: 600; }
  aside .aside__li {
    background-color: rgba(0, 0, 0, 0);
    padding: 1rem 1rem 1rem 1rem;
    text-shadow: 2px 2px 10px black;
    line-height: 2.5;
    font-size: 1.2rem;
    list-style: none; }

/*-----------------------------------------------------------------Aside----*/
/*-----------------------------------------------------------------Footer----*/
footer {
  background-color: black;
  color: #ee3434;
  text-decoration: none;
  padding: 1rem;
  font-weight: 600;
  border: inset 4px #838383;
  box-shadow: 10px 10px 20px black;
  height: auto;
  background-repeat: repeat;
  background-size: contain;
  background-position: center; }
  footer .footer__titulo {
    color: white;
    font-size: 2rem;
    text-align: center;
    text-shadow: 5px 5px 5px #ee3434;
    font-weight: 600; }
  footer .footer__menu {
    list-style: none;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    padding-left: 0; }
  footer .footer__ul__flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; }
  footer .footer__menu li {
    border: 2px solid rgba(0, 0, 0, 0);
    transition: all 0.5s;
    border-radius: 5px; }
    footer .footer__menu li:hover {
      text-decoration: underline; }
  footer .list-inline-item a i:hover {
    text-decoration: underline; }
  footer .footer__menu a {
    color: #ee3434;
    text-decoration: none;
    padding: 0.2rem 0.3rem 0.2rem 0.3rem;
    font-size: 1.3rem;
    text-shadow: 3px 3px 5px #ee3434; }
  footer .redes {
    display: flex; }
  footer .fa-twitter:before {
    font-size: 1.6rem;
    color: #0084ff;
    text-shadow: 0px 0px 0px black; }
  footer .fa-facebook:before {
    font-size: 1.6rem;
    color: #001aff;
    text-shadow: 0px 0px 0px black; }
  footer .fa-instagram:before {
    font-size: 1.6rem;
    color: #ff2cd8;
    text-shadow: 0px 0px 0px black; }
  footer .fa-youtube:before {
    font-size: 1.6rem;
    color: red;
    text-shadow: 0px 0px 0px black; }
  footer .irarriba {
    margin: 0;
    padding: 0;
    font-size: 1rem; }
  footer .footer__irarriba {
    margin-left: 1rem;
    background-color: rgba(255, 255, 255, 0);
    text-shadow: 2px 2px 10px black;
    border-radius: 3px; }
  footer .footer__creditos {
    text-align: center;
    text-shadow: 2px 2px 10px #ee3434; }

/*-----------------------------------------------------------------Footer----*/
/*-----------------------------------------------------------MediaQueries----*/
/*Mobile*/
@media only screen and (max-width: 480px) {
  .grid {
    grid-template-columns: 20% 80%;
    grid-template-rows: auto auto auto; }
  #header__h1 {
    font-size: 3.5rem; }
  .contenido__titulo {
    font-size: 1rem; }
  .contenido__texto {
    line-height: 1;
    font-size: 1rem; }
  .carousel {
    max-width: auto; }
  section img {
    max-width: auto;
    border-radius: 10px; }
  .aside__titulo {
    padding-top: 0rem;
    font-size: 1.3rem; }
  .aside__li {
    padding: 0rem 0rem 0rem 0rem;
    margin: 0rem 0rem 0rem 0rem; }
  .aside__li li {
    padding: 0rem 0rem 0rem 0rem;
    line-height: 1;
    font-size: 1rem;
    margin: 0.5rem 0rem 0rem 0rem; }
  .footer__ul__flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly; }
  .footer__menu a {
    padding: 0.3rem;
    font-size: 0.8rem; }
  .footer__creditos {
    font-size: 0.8rem;
    margin: 0;
    padding: 0; }
  /*Contacto*/
  /*Form Ingresar(Aside)*/
  .ingresar {
    width: 90%;
    margin-right: 5px;
    padding: 1rem 0.2rem 1rem 0.2rem;
    font-size: 0.8rem; }
  .ingresar--titulo {
    font-size: 1.1rem; }
  .botoningresar--submit {
    font-size: 0.7rem; }
  /*Formulario(Section)*/
  .formulario--label {
    font-size: 0.8rem; }
  .formulario--titulo {
    font-size: 1.1rem; }
  .boton--reset {
    font-size: 0.7rem; }
  .botonformulario--submit {
    font-size: 0.7rem; } }

@media only screen and (min-width: 481px) and (max-width: 978px) {
  .grid {
    grid-template-columns: 30% 70%;
    grid-template-rows: auto auto auto; }
  .header__navbar--flex {
    justify-content: space-evenly; }
  .header__navbar a {
    padding: 0rem;
    font-size: 0.9rem;
    margin: 0.2rem; }
  section img {
    width: 300px; }
  .footer__ul__flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; }
  .footer__menu a {
    padding: 0.3rem;
    font-size: 0.9rem; }
  .footer__creditos {
    font-size: 0.9rem;
    margin: 0;
    padding: 0; } }

@media only screen and (min-width: 979px) and (max-width: 1204px) {
  section img {
    width: 350px; } }
