/*-----Colores-----*/
/*-----Spacing-----*/
/*-----Font-family-----*/
/*-----Font-sizing-----*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.grid {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto; }
  .grid header {
    grid-area: header; }
  .grid main {
    grid-area: main; }
  .grid footer {
    grid-area: footer; }

body {
  background-color: #181818;
  font-family: "Odibee Sans", cursive;
  font-weight: 400;
  overflow-x: hidden; }

.header .navbar {
  max-height: 3.5rem;
  box-shadow: 0px 5px 10px black; }

.header .botonirabajo {
  color: #4343ff;
  font-size: 1.5rem;
  text-decoration: underline;
  margin-right: 1rem; }

.header .navbar__texto {
  font-size: 1.7rem;
  padding-left: 0.5rem;
  font-weight: 400;
  color: white;
  text-shadow: 3px 3px 5px #ee3434; }
  .header .navbar__texto:hover {
    text-decoration: underline; }

.header .navbar__texto2 {
  font-size: 1.5rem;
  font-weight: 400;
  color: white;
  text-shadow: 3px 3px 5px #ee3434; }

.header .header__irabajo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  font-size: 1.5rem;
  font-weight: 600; }

.header .portada {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: fixed;
  background-size: cover;
  background-image: url(../img/fondo4.jpeg);
  height: 100vh; }

.header .portadaflex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.header .portada__h1 {
  font-family: 'Coda', cursive;
  text-transform: none;
  color: white;
  font-size: 6rem;
  font-weight: 400;
  text-shadow: 5px 5px 5px black; }

.header .portada__h2 {
  color: #ee3434;
  text-shadow: 3px 3px 3px black;
  font-size: 2.5rem;
  font-weight: 400;
  letter-spacing: 1px;
  justify-items: center; }

.footer {
  background-color: black;
  padding: 0rem;
  height: auto; }
  .footer .footer__titulo {
    color: white;
    font-family: 'Coda', cursive;
    font-size: 2.5rem;
    text-align: center;
    text-shadow: 3px 3px 5px #ee3434;
    font-weight: 400; }
  .footer .footer__quienes {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding: 0.5rem 0rem 0.5rem 0rem;
    background-color: black; }
  .footer .tituloquienes {
    color: white;
    font-size: 1.7rem;
    text-shadow: 3px 3px 3px #ee3434;
    margin-bottom: 0rem;
    margin-top: 0.5rem; }
  .footer .textoquienes {
    color: white;
    font-size: 1.7rem;
    text-shadow: 3px 3px 3px black;
    margin-bottom: 0rem;
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center; }
  .footer .footer__cierre {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center; }
  .footer .footer__logo {
    max-width: 80px; }
  .footer .list-inline-item a i:hover {
    scale: 1.1;
    text-decoration: underline;
    color: #ee3434; }
  .footer .redes {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1rem; }
  .footer .footer__redes {
    color: white;
    font-size: 1.7rem;
    text-shadow: 3px 3px 3px #ee3434; }
  .footer .fa-twitter:before {
    font-size: 2rem;
    color: #0084ff;
    text-shadow: 3px 3px 5px black;
    margin-right: 2rem;
    margin-left: 2rem; }
  .footer .fa-facebook:before {
    font-size: 2rem;
    color: #001aff;
    text-shadow: 3px 3px 5px black;
    margin-right: 2rem;
    margin-left: 2rem; }
  .footer .fa-instagram:before {
    font-size: 2rem;
    color: #ff2cd8;
    text-shadow: 3px 3px 5px black;
    margin-right: 2rem;
    margin-left: 2rem; }
  .footer .fa-youtube:before {
    font-size: 2rem;
    color: red;
    text-shadow: 3px 3px 5px black;
    margin-right: 2rem;
    margin-left: 2rem; }
  .footer .footer__irarriba {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 400;
    text-shadow: 2px 2px 2px black; }
  .footer .footer__creditos {
    text-align: center;
    font-weight: 400;
    color: #ee3434;
    font-size: 1.5rem;
    text-shadow: 2px 2px 2px black;
    margin: 0;
    padding-bottom: 1rem; }

.divsponsors .titulosponsors {
  font-size: 1.8rem;
  color: white;
  text-shadow: 2px 2px 3px #ee3434;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 0rem;
  padding: 0.5rem;
  background-color: black; }

.divsponsors .imgsponsors {
  max-width: 100%; }

.main--index {
  background: fixed;
  background-image: url(../img/background3.png);
  overflow-x: hidden; }
  .main--index .mainflex--index {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .main--index .divencabezado--index {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    background-color: black;
    box-shadow: 0px 5px 10px black;
    margin-bottom: 1rem;
    padding-top: 0.5rem;
    width: 100%; }
  .main--index .main__titulo--index {
    color: #ee3434;
    text-shadow: 3px 3px 5px #181818;
    font-size: 3rem; }
  .main--index .iconoestrella--index:before {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-size: 2.2rem;
    color: white;
    text-shadow: 3px 3px 3px #ffdd00; }
  .main--index .carousel--index {
    margin-right: 5vh;
    margin-left: 5vh;
    border: 0px black;
    border-radius: 10px;
    box-shadow: 10px 10px 20px black; }
  .main--index .imgcarousel--index {
    border-radius: 10px;
    border: 0px black;
    box-sizing: border-box;
    border-style: none; }
  .main--index .h3carousel--index {
    color: white;
    font-size: 2.5rem;
    text-shadow: 3px 3px 5px black; }
  .main--index .linkcarousel--index {
    font-size: 2rem;
    text-shadow: 3px 3px 3px black; }
  .main--index .visitartienda--index {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    align-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: auto;
    margin-top: 1rem;
    padding-top: 0.5rem;
    box-shadow: 5px 5px 5px black; }
  .main--index .textovisitartienda--index {
    font-size: 1.7rem;
    color: white;
    padding-right: 0.5rem;
    text-shadow: 2px 2px 2px #ee3434; }
  .main--index .botonvisitartienda--index {
    background-color: #ee3434;
    font-size: 1.7rem;
    color: white;
    text-shadow: 2px 2px 3px black;
    max-height: 3rem; }
  .main--index .noticiasflex--index {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .main--index .divnoticia--index {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    height: auto;
    margin-top: 2rem;
    background-color: rgba(0, 0, 0, 0.8);
    border: 0px solid black;
    box-shadow: 5px 5px 10px black;
    border-radius: 20px;
    overflow: hidden;
    transition: all 1s; }
    .main--index .divnoticia--index:hover {
      scale: 1.03;
      box-shadow: 5px 5px 10px #ee3434; }
  .main--index .divimgnoticia--index {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .main--index .imgnoticia--index {
    max-width: 100%; }
  .main--index .contenidonoticia--index {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .main--index .titulonoticia--index {
    color: white;
    font-size: 2.2rem;
    margin-top: 1rem;
    text-align: center;
    text-shadow: 3px 3px 5px #ee3434; }
  .main--index .textonoticia--index {
    color: white;
    font-size: 1.7rem;
    max-width: 90%;
    text-shadow: 2px 2px 2px #181818;
    text-align: center; }
  .main--index .logo--index {
    max-width: 80px;
    margin-bottom: 0.5rem; }

.main--contacto {
  background: fixed;
  background-image: url(../img/background3.png);
  overflow-x: hidden;
  font-size: 1.7rem;
  text-shadow: 3px 3px 3px #ee3434; }
  .main--contacto .divencabezado--contacto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    background-color: black;
    box-shadow: 0px 5px 10px black;
    margin-bottom: 1rem;
    padding-top: 0.5rem;
    width: 100%; }
  .main--contacto .main__titulo--contacto {
    color: #ee3434;
    text-shadow: 3px 3px 5px #181818;
    font-size: 3rem; }
  .main--contacto .iconocontacto--contacto:before {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-size: 2.2rem;
    color: white;
    text-shadow: 3px 3px 5px #4476ff; }
  .main--contacto .formulario--contacto {
    background-color: #181818;
    box-shadow: 5px 5px 10px black;
    width: 90%;
    max-width: 650px;
    margin: auto;
    padding: 1rem 2rem 1rem 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 5px;
    padding-bottom: 4rem; }
  .main--contacto .formulario .formulario--label {
    display: block;
    position: relative; }
  .main--contacto .formulario--label {
    color: white; }
  .main--contacto .formulario--titulo {
    text-align: center;
    text-shadow: 3px 3px 3px black;
    color: #ee3434;
    font-size: 2.5rem; }
  .main--contacto .formulario--input {
    background: rgba(0, 0, 0, 0.7);
    border: none;
    font-size: 1.5rem;
    outline: none;
    border-bottom: 2px solid #ee3434;
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 2px;
    color: white; }
  .main--contacto .formulario--textarea {
    background: rgba(0, 0, 0, 0.7);
    border: none;
    outline: none;
    border-bottom: 2px solid #ee3434;
    width: 100%;
    font-size: 1.5rem;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 2px;
    color: white;
    resize: vertical;
    max-height: 200px;
    min-height: 100px; }
  .main--contacto .botonformulario--submit {
    width: 48%;
    outline: none;
    border: none;
    background: black;
    color: #ee3434;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 0px;
    margin-bottom: 0px;
    cursor: pointer;
    border-radius: 3px;
    float: right;
    font-size: 1.7rem; }
  .main--contacto .boton--reset {
    width: 48%;
    outline: none;
    border: none;
    background: black;
    color: #ee3434;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 0px;
    margin-bottom: 0px;
    cursor: pointer;
    border-radius: 3px;
    float: left;
    font-size: 1.7rem; }
  .main--contacto .divinfo--contacto {
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
    padding-top: 1rem; }
  .main--contacto .tituloinfo--contacto {
    font-size: 2.5rem;
    color: #ee3434;
    text-shadow: none; }
  .main--contacto .textoinfo--contacto {
    font-size: 1.8rem;
    color: white;
    text-shadow: 3px 3px 3px #ee3434; }
  .main--contacto .iframe--contacto {
    width: 400px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #181818; }

.main--tienda {
  background: fixed;
  background-image: url(../img/background3.png);
  overflow-x: hidden; }
  .main--tienda .main__divencabezado--tienda {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem 0rem 1rem 0rem;
    background: black;
    box-shadow: 0px 5px 10px black; }
  .main--tienda .boton--tienda {
    font-size: 1.5rem;
    color: white;
    text-shadow: 3px 3px 3px black; }
  .main--tienda .offcanvas--tienda {
    display: flex;
    justify-content: center; }
  .main--tienda .botonoffcanvas--tienda {
    margin-top: 1rem;
    font-size: 1.5rem;
    color: white;
    text-shadow: 3px 3px 3px black;
    box-shadow: 3px 3px 5px black; }
  .main--tienda .offcanvas-header {
    background-color: black; }
  .main--tienda .offcanvastitulo--tienda {
    color: white;
    font-size: 1.7rem;
    text-shadow: 3px 3px 3px #ee3434; }
  .main--tienda .offcanvastexto--tienda {
    font-size: 1.5rem;
    text-shadow: 3px 3px 3px black;
    margin-left: 0;
    text-align: justify; }
  .main--tienda .offcanvas-body {
    margin: 0rem;
    padding-left: 0rem; }
  .main--tienda .tituloiconoflex--tienda {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center; }
  .main--tienda .main__titulo--tienda {
    color: #ee3434;
    text-shadow: 3px 3px 5px #181818;
    font-size: 2.5rem; }
  .main--tienda .fa-handshake:before {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-size: 2.5rem;
    color: white;
    text-shadow: 3px 3px 3px #ee3434; }
  .main--tienda .fa-bicycle:before {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    color: #ee3434;
    text-shadow: none;
    font-size: 1.5rem; }
  .main--tienda .section__bicicletas--tienda {
    margin: 3rem 1rem 0rem 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    box-shadow: 5px 5px 10px black; }
  .main--tienda .section__titulo--tienda {
    font-size: 2.2rem;
    text-align: center;
    color: white;
    text-shadow: 3px 3px 3px #ee3434;
    background-color: black; }
  .main--tienda .bicicletasflex--tienda {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; }
  .main--tienda .cardbicicletas {
    position: relative;
    width: 380px;
    height: 280px;
    max-width: 400px;
    margin: 0.5rem 1rem 0.5rem 1rem; }
  .main--tienda .cardface__bicicletas {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s; }
  .main--tienda .cardfront {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 5px 5px 10px black; }
  .main--tienda .cardimg__bicicletas {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .main--tienda .cardtitulofront__bicicletas {
    position: absolute;
    width: 100%;
    height: 45px;
    color: white;
    text-shadow: 3px 3px 3px #ee3434;
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
    bottom: 0;
    line-height: 45px; }
  .main--tienda .cardback {
    transform: perspective(600px) rotateY(180deg);
    background: #181818;
    color: white;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 5px 5px 10px black; }
  .main--tienda .cardtituloback__bicicletas {
    width: 100%;
    height: 45px;
    color: white;
    text-shadow: 3px 3px 3px #ee3434;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    line-height: 45px; }
  .main--tienda .cardlink__bicicletas {
    border-top: solid 1px white;
    height: 30px;
    line-height: 40px;
    font-size: 1.3rem;
    text-align: center; }
  .main--tienda .cardli__bicicletas {
    font-size: 1.3rem;
    text-align: center; }
  .main--tienda .cardbicicletas:hover .cardfront {
    transform: perspective(600px) rotateY(180deg); }
  .main--tienda .cardbicicletas:hover .cardback {
    transform: perspective(600px) rotateY(360deg); }
  .main--tienda .logoflex--tienda {
    display: flex;
    justify-content: center;
    margin: 0rem; }
  .main--tienda .logo--tienda {
    width: 80px; }

.main--reviews {
  background: fixed;
  background-image: url(../img/background3.png);
  overflow-x: hidden; }
  .main--reviews .mainflex--reviews {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .main--reviews .divencabezado--reviews {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    background-color: black;
    box-shadow: 0px 5px 10px black;
    margin-bottom: 1rem;
    padding-top: 0.5rem;
    width: 100%; }
  .main--reviews .main__titulo--reviews {
    color: #ee3434;
    text-shadow: 3px 3px 5px #181818;
    font-size: 3rem; }
  .main--reviews .iconoestrella--reviews:before {
    margin-left: 0.1rem;
    margin-right: 0.1rem;
    font-size: 2rem;
    color: white;
    text-shadow: 3px 3px 3px #ffdd00; }
  .main--reviews .reviewsflex--reviews {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .main--reviews .divreviews--reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    height: auto;
    margin-top: 2rem;
    background-color: rgba(0, 0, 0, 0.8);
    border: 0px solid black;
    box-shadow: 5px 5px 10px black;
    border-radius: 20px;
    overflow: hidden;
    transition: all 1s; }
    .main--reviews .divreviews--reviews:hover {
      scale: 1.03;
      box-shadow: 5px 5px 10px #ee3434; }
  .main--reviews .divimgreviews--reviews {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .main--reviews .imgreviews--reviews {
    max-width: 100%; }
  .main--reviews .contenidoreviews--reviews {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .main--reviews .tituloreviews--reviews {
    color: white;
    font-size: 2.2rem;
    margin-top: 1rem;
    text-shadow: 3px 3px 5px #ee3434; }
  .main--reviews .textoreviews--reviews {
    color: white;
    font-size: 1.7rem;
    max-width: 90%;
    text-shadow: 2px 2px 2px #181818;
    text-align: justify; }
  .main--reviews .veredicto--reviews {
    color: white;
    font-size: 2rem;
    text-shadow: 3px 3px 3px #ee3434; }
  .main--reviews .logo--reviews {
    max-width: 80px;
    margin-bottom: 0.5rem; }

.main--galeria {
  background: fixed;
  background-image: url(../img/background3.png);
  overflow-x: hidden; }
  .main--galeria .divencabezado--galeria {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding-top: 0.5rem;
    background: black;
    box-shadow: 0px 10px 10px black; }
  .main--galeria .tituloencabezado--galeria {
    font-size: 2.5rem;
    color: #ee3434;
    text-shadow: 3px 3px 5px #181818; }
  .main--galeria .iconocamara--galeria {
    color: #dbdbdb;
    font-size: 2.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    text-shadow: 3px 3px 3px #ee3434; }
  .main--galeria .divtitulocarousel--galeria {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    margin-top: 1rem; }
  .main--galeria .titulocarousel--galeria {
    font-size: 2.5rem;
    color: white;
    text-shadow: 3px 3px 3px #ee3434;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: rgba(0, 0, 0, 0.8); }
  .main--galeria .carousel--galeria {
    margin-right: 5vh;
    margin-left: 5vh;
    border-radius: 10px;
    box-shadow: 10px 10px 20px black; }
  .main--galeria .imgcarousel--galeria {
    border-radius: 10px;
    border: 0px black;
    box-sizing: border-box;
    border-style: none; }
  .main--galeria .h3carousel--galeria {
    color: white;
    font-size: 2.5rem;
    text-shadow: 3px 3px 5px black; }
  .main--galeria .textocarousel--galeria {
    font-size: 2rem;
    text-shadow: 3px 3px 3px black; }
  .main--galeria .galeria--galeria {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .main--galeria .divtitulotopten--galeria {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    margin-top: 1rem;
    width: 100%; }
  .main--galeria .titulotopten--galeria {
    font-size: 2.2rem;
    color: white;
    text-shadow: 3px 3px 3px #ee3434;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: rgba(0, 0, 0, 0.8); }
  .main--galeria .divimg__galeria--galeria {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    max-width: 90%;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px; }
  .main--galeria .tituloimg__galeria--galeria {
    color: white;
    font-size: 2rem;
    text-shadow: 3px 3px 3px #ee3434;
    margin-bottom: 0rem;
    padding-bottom: 0rem; }
  .main--galeria .img1__galeria--galeria {
    margin: 0rem;
    max-width: 100%;
    max-height: 100vh;
    border-radius: 10px;
    border: 0px solid black;
    box-shadow: 5px 5px 10px black;
    transition: all 1s; }
    .main--galeria .img1__galeria--galeria:hover {
      scale: 1.1;
      border: 5px solid #ee3434; }

/*-------------------------MOBILE---------------------------*/
@media only screen and (max-width: 480px) {
  .header .portada {
    background-image: url(../img/fondo4recorte2.jpg); }
  .header .portada__h1 {
    font-size: 3rem; }
  .header .portada__h2 {
    font-size: 1.7rem; }
  .header .navbar__texto {
    font-size: 1.5rem; }
  .header .botonirabajo {
    font-size: 1.2rem; }
  .footer .footer__titulo {
    font-size: 2rem;
    text-align: center;
    text-shadow: 3px 3px 5px #ee3434;
    font-weight: 400; }
  .footer .tituloquienes {
    font-size: 1.2rem; }
  .footer .textoquienes {
    font-size: 1.2rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    line-height: 1; }
  .footer .footer__logo {
    max-width: 40px; }
  .footer .fa-twitter:before {
    font-size: 1.5rem;
    margin-right: 2rem;
    margin-left: 2rem; }
  .footer .fa-facebook:before {
    font-size: 1.5rem;
    margin-right: 1rem;
    margin-left: 1rem; }
  .footer .fa-instagram:before {
    font-size: 1.5rem;
    margin-right: 1rem;
    margin-left: 1rem; }
  .footer .fa-youtube:before {
    font-size: 1.5rem;
    margin-right: 1rem;
    margin-left: 1rem; }
  .footer .footer__irarriba {
    font-size: 1.2rem; }
  .footer .footer__creditos {
    font-size: 1.2rem; }
  .divsponsors .titulosponsors {
    font-size: 1.2rem; }
  .main--index .main__titulo--index {
    font-size: 2rem; }
  .main--index .carousel--index {
    margin-right: 0vh;
    margin-left: 0vh; }
  .main--index .h3carousel--index {
    font-size: 1.2rem; }
  .main--index .linkcarousel--index {
    font-size: 1rem; }
  .main--index .textovisitartienda--index {
    font-size: 1.2rem; }
  .main--index .botonvisitartienda--index {
    font-size: 1.2rem;
    max-height: 3rem; }
  .main--index .divnoticia--index {
    width: 95%;
    height: auto;
    margin-top: 1rem;
    border-radius: 10px; }
  .main--index .titulonoticia--index {
    font-size: 1.5rem;
    margin-top: 1rem; }
  .main--index .textonoticia--index {
    color: white;
    font-size: 1rem; }
  .main--index .logo--index {
    max-width: 50px;
    margin-bottom: 0.5rem; }
  .main--tienda .main__divencabezado--tienda {
    padding: 0.5rem; }
  .main--tienda .main__titulo--tienda {
    font-size: 1.5rem; }
  .main--tienda .boton--tienda {
    font-size: 1.2rem;
    color: white;
    text-shadow: 3px 3px 3px black; }
  .main--tienda .fa-handshake:before {
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    font-size: 1.5rem; }
  .main--tienda .botonoffcanvas--tienda {
    margin-top: 0.5rem;
    font-size: 1.2rem; }
  .main--tienda .offcanvas-header {
    background-color: black; }
  .main--tienda .offcanvastitulo--tienda {
    color: white;
    font-size: 1.5rem;
    text-shadow: 3px 3px 3px #ee3434; }
  .main--tienda .offcanvastexto--tienda {
    font-size: 1.2rem;
    text-shadow: 3px 3px 3px black;
    margin-left: 0;
    text-align: justify; }
  .main--tienda .section__bicicletas--tienda {
    margin: 1rem 0.5rem 0rem 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    box-shadow: 5px 5px 10px black; }
  .main--tienda .section__titulo--tienda {
    font-size: 2rem;
    text-align: center; }
  .main--tienda .logo--tienda {
    width: 50px; }
  .main--reviews .main__titulo--reviews {
    font-size: 2rem; }
  .main--reviews .iconoestrella--reviews:before {
    font-size: 1.5rem; }
  .main--reviews .divreviews--reviews {
    width: 95%;
    margin-top: 1rem;
    border-radius: 10px; }
  .main--reviews .tituloreviews--reviews {
    font-size: 2rem; }
  .main--reviews .textoreviews--reviews {
    font-size: 1.2rem; }
  .main--reviews .veredicto--reviews {
    font-size: 1.2rem; }
  .main--reviews .logo--reviews {
    max-width: 85px;
    margin-bottom: 0.5rem; }
  .main--galeria .tituloencabezado--galeria {
    font-size: 2rem; }
  .main--galeria .iconocamara--galeria {
    font-size: 2rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem; }
  .main--galeria .titulocarousel--galeria {
    font-size: 2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem; }
  .main--galeria .carousel--galeria {
    margin-right: 1vh;
    margin-left: 1vh;
    border-radius: 10px;
    box-shadow: 10px 10px 20px black; }
  .main--galeria .h3carousel--galeria {
    font-size: 1.2rem; }
  .main--galeria .titulotopten--galeria {
    font-size: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem; }
  .main--galeria .logo--galeria {
    max-width: 30px; }
  .main--galeria .tituloimg__galeria--galeria {
    font-size: 1.5rem; }
  .main--galeria .divimg__galeria--galeria {
    margin-top: .5rem;
    margin-bottom: .5rem;
    max-width: 95%; }
  .main--contacto .main__titulo--contacto {
    font-size: 2rem; }
  .main--contacto .iconocontacto--contacto:before {
    font-size: 1.5rem; }
  .main--contacto .formulario--contacto {
    width: 95%; }
  .main--contacto .formulario--titulo {
    font-size: 2rem; }
  .main--contacto .formulario--label {
    font-size: 1.5rem; }
  .main--contacto .formulario--input {
    font-size: 1.2rem; }
  .main--contacto .formulario--textarea {
    font-size: 1.2rem; }
  .main--contacto .botonformulario--submit {
    font-size: 1.5rem; }
  .main--contacto .boton--reset {
    font-size: 1.5rem; }
  .main--contacto .tituloinfo--contacto {
    font-size: 2rem; }
  .main--contacto .textoinfo--contacto {
    font-size: 1.5rem; }
  .main--contacto .iframe--contacto {
    width: 300px;
    height: 300px; } }

/*-------------------------MOBILE---------------------------*/
/*-------------------------TABLET---------------------------*/
@media only screen and (min-width: 481px) and (max-width: 978px) {
  .grid .portada {
    background-image: url(../img/fondo4recorte.jpg); }
  .grid .portada__h1 {
    font-size: 4.5rem; }
  .grid .portada__h2 {
    font-size: 2.2rem; }
  .main--index .main__titulo--index {
    font-size: 2.5rem; }
  .main--index .carousel--index {
    margin-right: 2vh;
    margin-left: 2vh; }
  .main--index .h3carousel--index {
    font-size: 1.5rem; }
  .main--index .linkcarousel--index {
    font-size: 1.5rem; }
  .main--index .divnoticia--index {
    width: 85%;
    height: auto;
    margin-top: 1rem;
    border-radius: 10px; }
  .main--index .titulonoticia--index {
    font-size: 2rem;
    margin-top: 1rem; }
  .main--index .textonoticia--index {
    color: white;
    font-size: 1.5rem; }
  .main--reviews .main__titulo--reviews {
    font-size: 2.5rem; }
  .main--reviews .divreviews--reviews {
    width: 90%;
    height: auto;
    margin-top: 1rem;
    border-radius: 10px; }
  .main--reviews .tituloreviews--reviews {
    font-size: 2.2rem;
    margin-top: 1rem;
    text-shadow: 2px 2px 3px #ee3434; }
  .main--reviews .textoreviews--reviews {
    font-size: 1.5rem;
    text-shadow: 2px 2px 2px #181818; }
  .main--reviews .veredicto--reviews {
    font-size: 1.7rem;
    text-shadow: 3px 3px 3px #ee3434; }
  .main--galeria .carousel--galeria {
    margin-right: 2vh;
    margin-left: 2vh;
    border-radius: 10px; }
  .main--galeria .titulocarousel--galeria {
    font-size: 2rem; }
  .main--galeria .h3carousel--galeria {
    color: white;
    font-size: 1.7rem; }
  .main--galeria .titulotopten--galeria {
    font-size: 2rem; } }

/*-------------------------TABLET---------------------------*/
/*-------------------------DESKTOP--------------------------*/
@media only screen and (min-width: 979px) and (max-width: 1204px) {
  .header .portada {
    background-image: url(../img/fondo4-1204px.jpg); }
  .grid .titulonoticia--index {
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 2rem; }
  .grid .textonoticia--index {
    font-size: 1.5rem; }
  .grid .tituloreviews--reviews {
    font-size: 2rem; }
  .grid .textoreviews--reviews {
    font-size: 1.5rem; } }
